

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:gilroy;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}
nav{
    position:fixed;
 
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 12vh;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}
.nav-part2{
    display: flex;
    gap: 2vw;
    align-items:flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
    
}
.nav-part2 h4{
    font-size: 0.73vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.24vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
    
}
.nav-part2 h5 span{
    font-size: 0.77vw;
    font-weight: 400;
    display: inline-block;
}
#nav-bottom{
    width: 79.4%;
    height: 0vh;
    background-color: #111;
    position: absolute;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid #fff;
    
}
.bottom-div{
    margin-top: 2vw;
}
.bottom-div h5{
  /*background-color: red;*/
    overflow: hidden;
    margin-bottom: 0.4vw;
}
.bottom-div h5 span{
    font-size: 0.75vw;
    display: inline-block;
    opacity: 0;
    font-weight: 500;
}

nav button{
    background-color:#0BA33E;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    font-size: 0.85vw;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    font-weight: 700;
}
nav button svg{
    height: 0.85vw;
    margin-left: 1.6vw;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color:#0BA33E;
    border-radius: 50%;
   
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}
#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-something h4{
    font-weight: 400;
    font-size: 1vw;
    padding: 5px 12px;
    margin-top: 0.5vw;
    text-transform: lowercase;
    border: 1px solid #a5a5a5;
    border-radius: 50px;

}
#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}
#moving-image{
 
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;

}
#moving-image .move{
    display: inline-block;
    animation-name: role;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#moving-image .move img{
    height: 1vw;
    margin: 0vw 1.2vw;
}
@keyframes role {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%)
    }
    
}
#blur-left{
    height: 100%;
    width: 20%;
    position: absolute;
    background: linear-gradient(to right,#111,transparent);
    left: 0;
    top: 0;
    z-index: 3;
}
#blur-right{
    height: 100%;
    width: 20%;
    position: absolute;
    background: linear-gradient(to right,transparent,#111);
    right: 0;
    top: 0;
    z-index: 3;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom:8vw ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
}
#page2-left{
    height: 100%;
    width: 40%;
   
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 5vw 0;
}
#page2-left p{
    font-size:0.8vw;
}
#page2-left h5{
    font-size:1.1vw;
    width: 75%;
    font-weight: 400;
    padding-bottom:2vw;
}
#page2-right{
    height: 100%;
    width: 50%;
}
.right-elem{
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}
.right-elem h2{
    font-size: 1.4vw;
    font-weight: 400;
}
.right-elem img{
    height: 7vw;
    width: 7vw;
    opacity: 0;
    border-radius:50%;
    object-fit: cover;
    position: absolute;
    scale:0;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3-center{
    padding: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.page3-center .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
    font-size: 2vw;
    background-color: #fff;
}
.page3-center .icon i{
    font-size: 2.8vw;
    color: #000;
}
.page3-center h5{
    font-size: 0.8vw;
    padding: 12px 26px 10px 26px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    text-transform: uppercase;
    transform: translateY(10%);
    margin-top: 0.5vw;
    font-weight: 700;
    opacity: 0;
    transition: all ease-in 0.5s ;
}
.page3-center:hover h5{
    opacity: 1;
    transform: translateY(0%);
}
#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 30px;
    opacity: 0;
    z-index: 20;
}
#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
   
    background-color:#fcfcfc;
}
#text-left{
    height: 100vh;
    width: 50%;
    padding: 4vw 10vw;
    font-weight: 700;
    padding-top: 8vw;
    font-family: sans-serif;
}
#text-left h2{
    font-size: 3vw;
    color: #000;
}
#text-right{
    height: 100vh;
    width: 50%;
  
    display: flex;
    flex-direction: column;
    
}
#text-right1 {
    padding: 5vw;
    padding-top: 7vw;
    
}
#text-right1 h6{
    color: #000;
    font-weight: 400;
}
#text-right1 p{
    padding-top: 1vw;
    font-weight: 100;
    color: #000;
    font-weight: 500;
}
#text-right2 h6{
    color: #000;
    font-weight: 400;
}
#text-right2{
    padding: 5vw;
    padding-top: 3vw;
}
#text-right2 p{
    padding-top: 1vw;
    color: #000;
    font-weight: 500;
}
#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    color: #000;
    padding-bottom: 13vh;
}
.section{
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}
.sec-left{
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    border-top: 2px solid #000;
}
.sec-left h2{
    font-size: 2.1vw;
    font-weight:500;
    color: #000;
}
.sec-left p{
    font-size: 1.2vw;
    color: #000;
    margin-top: 10vh;
}
.sec-right{
    height: 100%;
    width: 70%;
    /* background-color: rgb(207, 155, 77); */
    position: relative;
}
.sec-right img{
    height: 100%;
    width: 100%;
    object-fit:cover ;
}
.sec-right video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}
#page6{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    padding: 5vh 10.5vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page6 button{
    background-color: #0BA33E;
    padding: 0.9vw 2.5vw;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 15%;
}
#page6-right{
    width: 70%;
}
#page6-right>p{
    font-size: 2.1vw;
}
#page6-right>p span{
    width: 15vw;
    display: inline-block;
}
#page6-content{
    width: 100%;
    margin-top: 5vh;
    padding: 5vh 0;
}
#page6-content h1{
    font-size: 3vw;
    font-weight: 500;
}
#page6-content #flex{
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
#page6-content #flex h4{
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;
}
.page6-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding-top: 3vh;
    padding-bottom: 9vh;
    border-top: 1px solid #333;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    overflow: hidden;
}
.page6-elem p{
    width: 55%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
}
.page6-elem h3{
    font-size: 1.5vw;
    font-weight: 400;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.page6-elem i{
    font-size: 1vw;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.over{
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  
}
.page6-elem:hover h3{
    padding-left: 1vw;
}
.page6-elem:hover i{
    padding-right: 1vw;
}
.page6-elem:hover .over{
    transform: translateY(0);
    opacity: 1;
    
}
.page6-elem:hover {
    border-top: 2px solid #fff;
}

summary::marker{
    content: "";
}
.uiux{
    border-top: 1px solid #333;
    padding: 3vh 0;
}
.product{
    border-top: 1px solid #333;
    padding: 3vh 0;
}
#page7{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 10vh 10vw;
}
#page7 > h1{
    color: #000;
    font-size: 5.5vw;
    /* background-color: red; */
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
}
#page7-content{
    /* background-color: red; */
    display: flex;
    color: #000;
    align-items:flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}
#page7-content #right-7{
    width: 70%;
}
#page7-content #right-7 p{
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}
#blue-btn{
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blue-btn h4{
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
}
#blue-btn h4 i{
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}
#page7-bottom{
    height: 44vh;
    width: 100%;
    /* background-color: #333; */
    color: #000;
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#bottom7-part1{
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
    /* background-color: red; */
}
#bottom7-part2{
    border-right: 1px solid #dadada;
    width: 28%;
    height: 100%;
    /* background-color: red; */
}
#bottom7-part3{
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
    /* background-color: red; */
}
#bottom7-part4{
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
    /* background-color: red; */
}
#bottom7-part5{
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
    /* background-color: red; */
}
.bottom-parts{
    padding: 4vh 0.6vw;
}
.bottom-parts h5{
    color: #000;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 3vh;
}
.bottom-parts h4{
    width: 80%;
    font-size: 0.85vw;
    font-weight: 500;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    background-color: #111;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.bottom-parts h4 span{
    border-radius: 50%;
    background-color: #333;
    padding: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1vw;
}
#bottom7-part2 h4:nth-child(2){
    transform: translateX(0);
}
#bottom7-part2 h4:nth-child(3){
    transform: translateX(10%);
}
#bottom7-part2 h4:nth-child(4){
    transform: translateX(20%);
}
#bottom7-part2 h4:nth-child(5){
    transform: translateX(30%);
}
#bottom7-part2 h4:nth-child(6){
    transform: translateX(40%);
}
#bottom7-part2 h4:nth-child(7){
    transform: translateX(50%);
}
#bottom7-part3 h4:nth-child(2){
    transform: translateX(0);
}
#bottom7-part3 h4:nth-child(3){
    transform: translateX(10%);
}
#bottom7-part4 h4:nth-child(2){
    transform: translateX(0);
}
#bottom7-part4 h4:nth-child(3){
    transform: translateX(10%);
}
#bottom7-part4 h4:nth-child(4){
    transform: translateX(20%);
}

#page8{
    height: 50vh;
    background-color: #111;

}
